

{% extends 'base.html' %}

{% block body %}


  <div class="container">
    <div class="row">
        <div class="col-3">
              <img src="{{ auth.profile_pic.url }}" alt="" style="height: 100px; width: 100px;">
              <h4>{{ auth.name }}</h4>
              <p>{{ auth.email }}</p>
              <p>{{ auth.details }}</p>
        </div>
        
        <div class="col-7">
          <!-- <table class="table table-striped">
              <thead>
                <tr>
                
                  <th scope="col">POP Name</th>
                  <th scope="col">Owner</th>
                  <th scope="col">Category</th>
                  <th scope="col">Internet</th>
                  <th scope="col">Facebook</th>
                  <th scope="col">YouTube</th>
                  <th scope="col">BDIX</th>
                </tr>
              </thead>
              <tbody>

                
                  {% for p in post %}
                  
                <tr>

                  <td>{{ p.pop_name }}</td>
                  <td><a href="{% url 'author' name=p.article_author.name.username %}">{{ p.article_author.name }}</a></td>
                  <td><a href="{% url 'topic' name=p.category.name %}">{{ p.category }}</a></td>
                  <td>{{ p.AfterUpgrade_Internet }}</td>
                  <td>{{ p.AfterUpgrade_Facebook }}</td>
                  <td>{{ p.AfterUpgrade_YouTube }}</td>
                  <td>{{ p.AfterUpgrade_BDInternet }}</td>

                </tr>
                
                  {% endfor %}
             
              </tbody>
            </table> -->

            <div class="form">

              <div class="container">
                <div class="row">
                  <div class="col-6">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                         
                          <th scope="col">POP Name</th>
                          <th scope="col">Owner</th>
                          <th scope="col">Category</th>
                         
                        </tr>
                      </thead>
                      <tbody>
                          {% for p in post %}
                            
                        <tr>
                          <td>{{ p.pop_name }}</a></td>
                          <td><a href="{% url 'author' name=p.article_author.name.username %}">{{ p.article_author.name }}</a></td>
                          <td><a href="{% url 'topic' name=p.category.name %}">{{ p.category }}</a></td>
                          
                        </tr>
                        {% endfor %}
                        
                      </tbody>
                    </table>
                  
                  
                  </div>
                  <div class="col-6">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                         
                          <th scope="col">Internet</th>
                          <th scope="col">Facebook</th>
                          <th scope="col">YouTube</th>
                          <th scope="col">BDIX</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for q in posts %}
                          <tr>
                            <td>{{ q.AfterUpgrade_Internet }}</td>
                            <td>{{ q.AfterUpgrade_Facebook }}</td>
                            <td>{{ q.AfterUpgrade_YouTube }}</td>
                            <td>{{ q.AfterUpgrade_BDInternet }}</td>
                          </tr>
                          
                        
                        {% endfor %}
                        
                      </tbody>
                    </table>
                  
                  
                  </div>
                </div>
        </div>
        
        </div>
    </div>
  </div>



{% endblock %}


